* {
  box-sizing: border-box;
}

.londrina-outline-regular {
  font-family: 'Londrina Outline', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-extrabold {
  font-family: Prompt, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.home-color {
  background-color: rgb(70, 70, 70);
}

.gold-pattern-background {
  background-color: rgb(255, 221, 0);
  background-image: linear-gradient(
      25deg,
      transparent 75%,
      rgba(0, 0, 0, 0.05) 75%
    ),
    linear-gradient(335deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
    linear-gradient(125deg, transparent 75%, rgba(0, 0, 0, 0.03) 75%),
    linear-gradient(215deg, transparent 75%, rgba(0, 0, 0, 0.03) 75%);
  background-size: 100px 100px;
}

.gradient {
  background: #fafaff;
  background: linear-gradient(
    145deg,
    rgb(118, 118, 118),
    rgb(122, 121, 120),
    rgb(210, 210, 207),
    rgb(250, 238, 196),
    rgb(186, 174, 133),
    rgb(183, 182, 178),
    rgb(207, 207, 207),
    rgb(171, 170, 166),
    rgb(141, 140, 124),
    rgb(157, 157, 147),
    rgb(225, 216, 173),
    rgb(165, 158, 109),
    rgb(165, 165, 151),
    rgb(86, 86, 82)
  );
}

.marble {
  background: url('/images/marble/marble.webp');
  object-fit: fill;
}

.starry-bg {
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 150px 150px;
  background-position: 0 0, 40px 60px, /* 130px 270px, */ 70px 100px;
}

.slight-transparency {
  background-color: rgb(255, 255, 255, 0.5);
  display: block;
  filter: brightness(0.8);
}

.slight-transparency-lightcone {
  background-color: rgb(255, 255, 255, 0.1);
  display: block;
  filter: brightness(1.1);
}

.train {
  position: ;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
  animation-play-state: running;
  animation-name: train-animation;
}

@keyframes train-animation {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(-100%);
  }

  20% {
    animation-timing-function: ease-in;
    transform: translateX(50vw);
  }

  75% {
    animation-timing-function: ease-in;
    transform: translateX(80vw);
  }

  100% {
    transform: translateX(0);
  }
}

.window-container {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.starry-header {
  position: relative;
  width: 100%;
  height: 25vh;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shade-popup {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  pointer-events: all;
}

.stars {
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/stardust.png')
    repeat;
  animation: pulsate 2s infinite;
}

.velvet-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    rgb(255, 0, 0),
    rgb(122, 1, 1),
    rgb(57, 1, 1)
  );
  background-size: 33% 33%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5);
}

.velvet-background2 {
  background-image: radial-gradient(
    rgb(255, 0, 0),
    rgb(122, 1, 1),
    rgb(57, 1, 1)
  );
  background-size: 10%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5);
}

.spotlight-background-lightcone {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0.2) 65%
  );
  background-size: 100%;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}

.spotlight-background-description-lightcone {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0) 65%
  );
  background-size: 33.33%;

  /* box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5); */
  filter: brightness(1);
}

.character-detail-text-background {
  background-image: radial-gradient(
    rgb(255, 255, 255) 9%,
    rgb(211, 199, 156),
    rgb(239, 227, 185) 89%,
    rgb(255, 255, 255)
  );
  background-size: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5);
}

.character-detail-abilities-background {
  background-image: radial-gradient(
    rgb(189, 184, 145) 9%,
    rgb(211, 199, 156),
    rgb(244, 224, 153) 89%,
    rgb(206, 193, 109)
  );
  background-size: 45%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5);
}

.character-detail-bg {
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(136, 136, 136),
    rgb(255, 255, 255),
    rgb(136, 136, 136)
  );
  background-size: 100%;
}

.pom-pom {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: pom-pom-animation;
}

.shelf-background {
  background: linear-gradient(
      180deg,
      rgb(139, 90, 43),
      rgb(222, 184, 135),
      rgb(122, 96, 71),
      rgb(139, 90, 43)
    ),
    radial-gradient(
      rgb(59, 29, 0),
      rgb(59, 29, 0),
      rgb(59, 29, 0),
      rgb(139, 90, 43)
    );
  background-size: 1% 20%;
  background-blend-mode: overlay;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.shelf-background2 {
  background-image: linear-gradient(
      180deg,
      rgb(139, 90, 43),
      rgb(222, 184, 135),
      rgb(122, 96, 71),
      rgb(139, 90, 43)
    ),
    radial-gradient(
      rgb(59, 29, 0),
      rgb(59, 29, 0),
      rgb(59, 29, 0),
      rgb(139, 90, 43)
    );
  background-size: 35% 30%;
  background-blend-mode: overlay;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.book-shadow {
  box-shadow: 0 9px 25px rgba(0, 0, 0, 1);
}

@keyframes pom-pom-animation {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translateY(3vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulsate {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }
}

.header-text {
  position: absolute;
  color: white;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;

  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
